@import 'partials/normalize';

@font-face {
	font-family: 'tuffy';
  src: url('../fonts/Tuffy.otf');
	font-weight: normal;
}

@font-face {
	font-family: 'tuffy';
	font-weight: bold;
	src: url('../fonts/Tuffy_Bold.otf');
}

p, a, div, h1, h2, h3, h4, h5, h6 {
	font-family: 'tuffy';
	color: white;
}

body {
	background-color: black;
}

.header {
	width: 100%;
	height: 100px;
	background-color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;

	.header-text {
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;

		@media screen and (max-width: 768px) {
	    display: none;
	  }

		h2 {
			font-weight: bold;
			color: black;
			cursor: pointer;
		}

		&:hover{
			color: red;
			font-size: 26px;
		}
	}

	img {
		height: 100%;
		width: auto;
		cursor: pointer;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		@media screen and (max-width: 768px) {
			width: 90%;
			height: auto;
		}
		&:hover{
			height: 110%;
		}
	}
}

.wrapper {
	width: 100%;
}

.split {
	margin: 0;
	padding: 0;
	float: left;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 50%;
}

.small-box {
	width: 50%;
	padding: 0;
	margin: 0;
	img {
		width: 100%;
	}
	iframe {
		width: 100%;
		height: 100%;
	}
}

.big-box {
	@extend .small-box;
	width: 100%;
}
