@import 'partials/normalize';

@font-face {
	font-family: tuffy;
  src: url(../fonts/Tuffy.otf);
	font-weight: normal;
}

@font-face {
	font-family: tuffy;
	src: url(../fonts/Tuffy_Bold.otf);
	font-weight: bold;	
}

p, a, div, h1, h2, h3, h4, h5, h6 {
	font: tuffy;
	color: white;
}

body {
	background-color: black;
}

.logo {
	height: 100%;
	width: auto;
}

.header {
	width: 100%;
	height: 100px;
	background-color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;

	h1 {
		font-weight: bold;
		color: black;
		cursor: pointer;
	}
}

.wrapper {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap; 
}

.small-box {
	width: 25%;
	img {
		width: 100%;
		height: auto;
	}	
}

